.sg-section {
  margin: 2em 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  font-weight: normal;
  padding: 1em 0;
  border-bottom: 1px solid gray;
  position: relative;
}

.sg-section-content {
  opacity: 1;
  max-height: 1000px;
  transition: all .5s ease-out;
}
.sg-section-content.close{
  opacity: 0;
  max-height: 0;
}

.sg-content-code{
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
    max-height: 200px;
    background-color: #f5f5f5;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.sg-content-code.open{
  opacity:1;
}


.eye{
  position: absolute;
  top: -0.1em;
  left: calc(54% - 30px);
  width: .6em;
  height: .6em;
  margin: 1.6em 45%;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.eye:before,
.eye:after {
  content: '';
  position: absolute;
}
.eye:before {
  top: -0.25em;
  left: -0.25em;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  border-radius: 80% 0%;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.eye.open{
  background-color: gray;
}

.eye.hidden{
  opacity:0;
}

.open-close-button {
  position:absolute;
  top: -0.4em;
  left: 54%;
  width: .6em;
  height: .6em;
  margin: 1em 45%;
  font-size: 2em;
  border-radius: 50%;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.open-close-button:before {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    width: 80%;
    height: 6%;;
    left: 10%;
    top: 47%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }

.open-close-button:after {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  width: 6%;
  height: 80%;
  left: 47%;
  top: 10%;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.open-close-button.open {
  background-color: gray;
  -webkit-transform: rotate(225deg);
  -moz-transform:    rotate(225deg);
  -ms-transform:     rotate(225deg);
  -o-transform:      rotate(225deg);
  transform:         rotate(225deg);
}
.open-close-button.open:after {
  background-color: white;
}
.open-close-button.open:before {
  background-color: white;
}
