extends layout
block content
  //- global atoms
  include atoms/global/colors
  include atoms/global/fonts
  include atoms/global/visibility
  //- text atoms
  include atoms/text/headings
  include atoms/text/paragraph
  include atoms/text/blockquote
  include atoms/text/inline
  include atoms/text/time
  include atoms/text/preformatted
  include atoms/text/hr
  //- list atoms
  include atoms/lists/unordered
  include atoms/lists/ordered
  include atoms/lists/definition
  //- image atoms
  include atoms/images/logo
  include atoms/images/icons
  include atoms/images/loadingIcons
  //- form atoms
  include atoms/forms/textFields
  include atoms/forms/select
  include atoms/forms/checkbox
  include atoms/forms/radio
  include atoms/forms/html5Inputs
  //- button atoms
  include atoms/buttons/base
  //- table atoms
  include atoms/tables/base
