extends layout
block content
  //- global atoms
  include atoms/global/colors
  include atoms/global/fonts
  include atoms/global/visibility
  //- text atoms
  include atoms/text/headings
  include atoms/text/paragraph
  include atoms/text/blockquote
  include atoms/text/inline
  include atoms/text/time
  include atoms/text/preformatted
  include atoms/text/hr
  //- list atoms
  include atoms/list/unordered
  include atoms/list/ordered
  include atoms/list/definition
  //- image atoms
  include atoms/images/logo
  include atoms/images/icons
  include atoms/images/loadingIcons
