link(rel='import' href='/public/components/sg-section/sg-section.html')
sg-section(name='Icons')
  p.col-xs-4.col-md-3
    i.fa.fa-eye.sg-icon  eye
  p.col-xs-4.col-md-3
    i.fa.fa-comment.sg-icon  comment
  p.col-xs-4.col-md-3
    i.fa.fa-bug.sg-icon  bug
  p.col-xs-4.col-md-3
    i.fa.fa-archive.sg-icon  archive
  p.col-xs-4.col-md-3
    i.fa.fa-coffee.sg-icon  coffee
  p.col-xs-4.col-md-3
    i.fa.fa-cog.sg-icon  cog
  p.col-xs-4.col-md-3
    i.fa.fa-chain.sg-icon  chain
  p.col-xs-4.col-md-3
    i.fa.fa-cloud-download.sg-icon  cloud-download
  p.col-xs-4.col-md-3
    i.fa.fa-cogs.sg-icon  cogs
  p.col-xs-4.col-md-3
    i.fa.fa-code-fork.sg-icon  code-fork
  p.col-xs-4.col-md-3
    i.fa.fa-camera.sg-icon  camera
  p.col-xs-4.col-md-3
    i.fa.fa-adjust.sg-icon  adjust
