link(rel='import' href='/public/components/sg-section/sg-section.html')
sg-section(name='Icons')  
  i.fa.fa-eye  eye
  br
  i.fa.fa-comment  comment
  br
  i.fa.fa-bug  bug
  br
  i.fa.fa-archive  archive
  br
  i.fa.fa-coffee  coffee
  br
  i.fa.fa-cog  cog
  br
  i.fa.fa-chain  chain
  br
  i.fa.fa-cloud-download  cloud-download
  br
  i.fa.fa-cogs  cogs
  br
  i.fa.fa-code-fork  code-fork
  br
  i.fa.fa-camera  camera
  br
  i.fa.fa-adjust  adjust
