link(rel='import' href='/public/components/sg-section/sg-section.html')
sg-section(name='Ordered list')
  ol
    li This is a list item in an ordered list
    li. 
      An ordered list is a list in which the sequence of items is important. 
      An ordered list does not necessarily contain sequence characters.
    li Lists can be nested inside of each other
      ol
        li This is a nested list item
        li This is another nested list item in an ordered list
    li This is the last list item
