link(rel='import' href='/public/components/sg-section/sg-section.html')
sg-section(name='Checkbox') 
  form(action="#")
    fieldset
      ul
        li <label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
        li <label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label>
        li <label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label>
