link(rel='import' href='/public/components/sg-section/sg-section.html')

sg-section(name='Select')
  label(for="select") Select
  br
  select(id="select")
    optgroup(label="Option Group")
        option Option One
        option Option Two
        option Option Three
