link(rel='import' href='/public/components/sg-swatch/sg-swatch.html')

h2.sg-pattern-head Colors
ul.sg-colors
	li
		sg-swatch(color='#ff66cc')
	li
		sg-swatch(color='#66cc33')
	li
		sg-swatch(color='#999999')
	li
		sg-swatch(color='#996600')
	li
		sg-swatch(color='#00ccff')
	li
		sg-swatch(color='#ff9933')
	
