link(rel='import' href='/public/components/sg-section/sg-section.html')

sg-section(name='Fonts')
  p Primary Font
  p
    i Primary Font italic
  p
    b Primary Font bold
  p Secondary Font
  p
    i Secondary Font italic
  p
    b Secondary Font bold
