link(rel='import' href='/public/components/sg-section/sg-section.html')

sg-section(name='Fonts')
  p Primary font
  p
    i Primary font italic
  p
    b Primary font bold
  p.secondary-font Secondary font
  p.secondary-font
    i Secondary font italic
  p.secondary-font
    b Secondary font bold
  p.tertiary-font Tertiary font
  p.tertiary-font
    i Tertiary font italic
  p.tertiary-font
    b Tertiary font bold
