link(rel='import' href='/public/components/sg-section/sg-section.html')

sg-section(name='Fonts')
  p Primary font
  p
    i Primary font italic
  p
    b Primary font bold
  p Secondary font
  p
    i Secondary font italic
  p
    b Secondary font bold
