link(rel='import' href='/public/components/sg-section/sg-section.html')

sg-section(name='Visibility')
  p.hidden-xs This text is hidden on extra small screens
  p.hidden-sm This text is hidden on small screens
  p.hidden-md This text is hidden on medium screens
  p.hidden-lg This text is hidden on large screens

  .cmap-spacer-medium

  p.visible-xs This text only visible on extra small screens
  p.visible-sm This text only visible on small screens
  p.visible-md This text only visible on medium screens
  p.visible-lg This text only visible on large screens

  .cmap-spacer-medium

  p.visible-xs.visible-sm.visible-md.visible-lg This text is visible on extra small screens and larger
  p.visible-sm.visible-md.visible-lg This text is visible on small screens and larger
  p.visible-md.visible-lg This text is visible on medium screens and larger
