link(rel='import' href='/public/components/sg-section/sg-section.html')
sg-section(name='Tables')
  table
    thead
      tr
        th Table Heading 1
        th Table Heading 2
        th Table Heading 3
        th Table Heading 4
        th Table Heading 5
    tfoot
      tr
        th Table Footer 1
        th Table Footer 2
        th Table Footer 3
        th Table Footer 4
        th Table Footer 5
    tbody
      tr
        td Table Cell 1 
        td Table Cell 2 
        td Table Cell 3 
        td Table Cell 4 
        td Table Cell 5 
      tr
        td Table Cell 1 
        td Table Cell 2 
        td Table Cell 3 
        td Table Cell 4 
        td Table Cell 5 
      tr
        td Table Cell 1 
        td Table Cell 2 
        td Table Cell 3 
        td Table Cell 4 
        td Table Cell 5 
      tr
        td Table Cell 1 
        td Table Cell 2 
        td Table Cell 3 
        td Table Cell 4 
        td Table Cell 5 
